html,body{
	margin:0 auto;
	padding:0;
}
 h1,h2,h3,h4,h5,h6{
 	text-transform: lowercase;
 	font-size:100px;
 	line-height:1em;
 	font-weight: 30px;
 	font-family: 'Baloo Thambi', cursive;
 	padding:10px;
 	color:white;
 	
 	/*hsl(30, 100%, 75%);*/
 	/*color:rgb(204, 255, 204);*/
 }
 .whole{
 	background-image: linear-gradient(to top, rgb(204, 204, 0) 0%, rgb(204, 0, 255) 100%);
 }
